{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home | IndyPL</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/holder.css' %}">
    </head>
    <body>
        <header class="page-header">
            <div>
                <img class="logo" src="/media/images/indypl_logo.jpg">
            </div>
            <div>
                <nav>
                    <ul class="nav-bar">
                        <li><a class="page" href='/'>Home</a></li>
                        <li><a class="fas fa-shopping-cart cart" href='cart/'></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>